@import url('https://fonts.googleapis.com/css2?family=Imbue:opsz,wght@10..100,100;10..100,200;10..100,300;10..100,400;10..100,500;10..100,600;10..100,700;10..100,800;10..100,900&family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    height: 100vh;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.controls {
    width: 70%;
    height: 10%;
    max-height: 3rem;
    /* color: white; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.trackTitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    text-align: center;
    color: white;
}

.progressbar {
    width: 100%;
    height: 100%;
    min-height: 2.2rem;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgb(31, 29, 29);
    opacity: 0.7;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(31, 29, 29);
}

progress::-webkit-progress-bar {
    background-color: grey;
}

progress::-webkit-progress-value {
    background-color: #ccc;
    transition: all 0.3s;

}